header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}

body {
  color: #666666;
  background-color: #f9f8f6;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0;
}

.wrapper {
  width: 940px;
  margin: 20px auto;
  border: 2px solid #000;
  background-color: #fff;
}

header {
  height: 160px;
  background-color: seashell;
}

h1 {
  width: 940px;
  height: 80px;
  padding-top: 50px;
  padding-left: 30px;
  margin: 0;
}

nav,
footer {
  clear: both;
  color: #fff;
  background-color: #aeaca8;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
  padding: 5px 0 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #fff;
}

nav li a:hover,
nav li a.current {
  color: #000;
}

section.courses {
  float: left;
  width: 659px;
  border-right: 1px solid #eee;
}

article {
  clear: both;
  overflow: auto;
  width: 100%;
}

figure {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eee;
}

figcaption {
  font-size: 90%;
  text-align: left;
}

/* Ensure images fill the figure box and stay uniform */
figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

aside {
  width: 230px;
  float: left;
  padding-left: 20px;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

aside section a:hover {
  color: #985d6a;
  background-color: #efefef;
}

a {
  color: #de6581;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

footer {
  font-size: 80%;
  padding: 7px 0 0 20px;
}
