* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #413f3b;
    color: #ffffff;
    line-height: 1.6;
}

a {
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
}
/* =========================
   HEADER
========================= */

.header {
    background-color: #2f2e2b;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    display: flex;
    gap: 20px;
}

.wrapper {
    padding-top: 140px; 
}


.main-story {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main-title {
    width: 60%;
}

.intro {
    width: 35%;
}

.date {
    font-size: 14px;
    color: #b5c1ad;
    margin-bottom: 10px;
}

