<!doctype html>
<html>
  <head>
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="header-left">
          <img src="" alt="Pedal Faster" class="logo" />
        </div>

        <div class="nav">
          <a href="">home</a> / <a href="">news</a> / <a href="">archives</a> /
          <a href="">about</a> /
          <a href="">contact</a>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="main-story">
        <div class="main-title">
          <h1><a href="">Fixed Gear Forever</a></h1>
        </div>

        <div class="intro">
          <p class="date">16 APRIL 2011</p>
          <p>The veloheld combines minimalist design with superb quality...</p>
        </div>
      </div>
  </body>
</html>
