* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #413f3b;
    color: #ffffff;
    line-height: 1.6;
}

a {
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
}
