body {
  color: #665544;
  background-color: #d4d0c6;
  background-image: url("bg.jpg");
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}

.wrapper {
  width: 720px;
  margin: 0 auto;
}

.header {
  margin: 40px 0 20px 0;
}

.entry {
  width: 220px;
  float: left;
  margin: 10px;
  height: 198px;
  background-image: url("bg_image.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

figure {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 190px; /* image + caption space */
  background-color: #e7e3d8;
  overflow: hidden;
}

figure img {
  display: block;
  width: 100%;
  height: 150px; /* reserve ~40px for caption */
  object-fit: cover;
  border: 1px solid #d6d6d6;
}

figcaption {
  width: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: small;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}
