body {
    color: #665544;
    background-color: #d4d0c6;
    background-image: url("images/bg.jpg");
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

.wrapper {
    width: 720px;
    margin: 0 auto;
}
